<!DOCTYPE html>
<html>
    <head>
        <title>JBM_Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
    </head>
    <body>
       <nav class="navbar navbar-expand-sm justify-content-end bg-dark">
           <a href="/blog" class="navbar-brand ">JBM blog</a>
           <ul class="navbar-nav">
                <li class="nav-item"><a href="/blog" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="/blog/new" class="nav-link">NEW POST</a></li>
           </ul>   
       </nav>
       